<form (ngSubmit)="authenticate()" [formGroup]="loginForm" autocomplete="off">

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Email</mat-label>
      <input name="email" matInput placeholder="Adresse email" formControlName="email">
      <mat-error *ngIf="email.invalid">{{ getErrorMessage(email) }}</mat-error>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="standard">
      <mat-label>Mot de passe</mat-label>
      <input type="password" name="password" matInput placeholder="Mot de passe" formControlName="password">
      <mat-error *ngIf="password.invalid">{{ getErrorMessage(password) }}</mat-error>
    </mat-form-field>
  </div>

  <button class="mt-10" mat-raised-button color="primary" type="submit"
          [disabled]="loginForm.invalid">
    Connexion
  </button>
</form>
